{% extends 'utils/base-usuario.html' %}
{% load static %}

{% block content-usuario %}

{% if solicitacoes %}
<div class="container bg-light mt-3 card px-0">
    <div class="card-header primary-color-dark-app color-light-text">
        <p class="lead">Banco de horas</p>
    </div>

    <div class="card-body px-0 py-0">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Hora inicial</th>
                        <th scope="col">Hora final</th>
                        <th scope="col">Total</th>
                        <th scope="col">motivo</th>
                        <th scope="col">status</th>
                        <th scope="col">Mais</th>
                    </tr>
                </thead>
                <tbody>
                    {% for banco in solicitacoes %}
                    <tr>
                        <th scope="row">{{ banco.data_movimentacao }}</th>
                        <td>{{ banco.hora_inicial }}</td>
                        <td>{{ banco.hora_final }}</td>
                        <td>{{ banco.hora_total }}</td>
                        <td>{{ banco.motivo }}</td>
                        <td>
                            {% if banco.status.analise == True %}
                            <span class="badge bg-warning"> {{ banco.status.nome }}</span>
                            {% elif banco.status.autorizado == True %}
                            <span class="badge bg-success"> {{ banco.status.nome }}</span>
                            {% else %}
                            <span class="badge bg-danger"> {{ banco.status.nome }}</span>
                            {% endif %}
                        </td>
                        <td><a href="{% url 'solicitacoes_mostrar' banco.id %}" class="badge primary-color-app color-light-text hover-efect">Acessar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <nav class="full-w d-flex justify-content-center">
        <ul class="pagination">
          {% if solicitacoes.has_previous %}
          <li class="page-item">
              <a class="page-link" href="?pagina={{ solicitacoes.previous_page_number }}">Voltar</a>
          </li>
          {% else %}
          <li class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true">Voltar</a>
          </li>
          {% endif %}


          {% if solicitacoes.has_next %}
          <li class="page-item">
              <a class="page-link" href="?pagina={{ solicitacoes.next_page_number }}">Próximo</a>
          </li>
          {% else %}
          <li class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true">Próximo</a>
          </li>
          {% endif %}
        </ul>
    </nav>
</div>

{% endif %}
{% endblock %}