{% extends 'utils/base-dashboard.html' %}

{% block content %}
<div class="container bg-light card px-0 text-center">
    <div class="card-header primary-color-dark-app color-light-text px-0">
        <h4>Alterar Status</h4>
    </div>
    <div class="card-body">
        <p>Alteração do status: <span class="font-weight-bold">{{ status.nome }}</span></p>

        <div class="row">
            <div class="col col-sm-12 col-md-6 offset-md-3">
                <form method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input name="nome" type="text" class="form-control" placeholder="Digite novo valor" value="{{ status.nome }}">
                        <button class="btn primary-color-app color-light-text full-w mt-3">Alterar valor</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}