{% extends 'core/componentes/base-super.html' %}

{% block content %}

<div class="container bg-light card px-0 text-center">
    <div class="card-header px-0">
        <h1>{{ setor.nome }}</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="card col">
                <div class="card-body text-center">
                    <h2>Total de colaboradores do setor</h2>
                    <h1>{{ setor.perfis_do_setor.all.count }}</h1>
                </div>
            </div>

            <div class="card col-sm-12 px-0">
                <div class="card-footer d-flex justify-content-center">
                    <button class="btn btn-primary mx-1" data-toggle="modal" data-target="#editar-setor">Editar
                        dados</button>
                    <a href="{% url 'setor_deletar' setor.id %}" class="btn btn-danger mx-1">Deletar setor</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bg-light mt-5 card px-0">
    <div class="card-header">
        <h3>colaboradores pertencentes ao setor</h3>
    </div>

    <div class="card-body px-0 py-0 limit-height">
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Matricula</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mais</th>
                    </tr>
                </thead>
                <tbody>
                    {% if setor.perfis_do_setor.all %}
                    {% for colaborador in setor.perfis_do_setor.all %}
                    <tr>
                        <td>{{ colaborador.nome }}</td>
                        <td>{{ colaborador.usuario.username }}</td>
                        <td>{{ colaborador.usuario.email }}</td>
                        <td><a href="{% url 'administrador_usuario_id' colaborador.usuario.username %}">Editar dados</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="editar-setor" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar setor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-cadastrar-setor" action="{% url 'setor_atualiza' setor.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="form-input-motivo" class="col-form-label">Nome do setor:</label>
                        <input class="form-control" name="nome_setor" type="text" placeholder="Digite o nome do setor"
                            value="{{ setor.nome }}"><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">cancelar</button>
                        <button type="submit" class="btn btn-primary">Atualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}