{% extends 'utils/base-dashboard.html' %}

{% block content %}

<div class="container text-center">
    <div class="card-header primary-color-dark-app color-light-text">
        <h4>{{ colaborador.username }} - {{ colaborador.perfil.nome }}</h4>
    </div>

    <div class="row mx-0">
        <div class="card col-12 col-sm-12 col-md-6 px-0">
            <div class="card-header">
                <h4>Informações</h4>
            </div>
            <div class="card-body text-left table-responsive">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td>Nome</td>
                            <td>{{ colaborador.perfil.nome }}</td>
                        </tr>
                        <tr>
                            <td>Matricula</td>
                            <td>{{ colaborador.username }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ colaborador.email }}</td>
                        </tr>
                        <tr>
                            <td>Setor</td>
                            <td>{{ colaborador.perfil.setor.nome }}</td>
                        </tr>
                        <tr>
                            <td>Primeira carga horária</td>
                            <td>{{ colaborador.perfil.ch_primeira }}</td>
                        </tr>
                        <tr>
                            <td>Segunda carga horária</td>
                            <td>{{ colaborador.perfil.ch_segunda }}</td>
                        </tr>
                        <tr>
                            <td>Gestor de setor</td>
                            <td>
                                {% if colaborador.perfil.gerente %}
                                <span class="badge rounded-pill bg-success">Sim</span>
                                {% else %}
                                <span class="badge rounded-pill bg-danger">Não</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Administrador</td>
                            <td>
                                {% if colaborador.is_superuser %}
                                <span class="badge rounded-pill bg-success">Sim</span>
                                {% else %}
                                <span class="badge rounded-pill bg-danger">Não</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Ativo</td>
                            <td>
                                {% if colaborador.is_active %}
                                <span class="badge rounded-pill bg-success">Sim</span>
                                {% else %}
                                <span class="badge rounded-pill bg-danger">Não</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Data de cadastro</td>
                            <td><span class="badge rounded-pill bg-warning">{{ colaborador.date_joined }}</span></td>
                        </tr>
                        <tr>
                            <td>Último acesso</td>
                            <td>
                                {% if colaborador.last_login %}
                                <span class="badge rounded-pill bg-warning">{{ colaborador.last_login }}</span>
                                {% else %}
                                <span class="badge rounded-pill bg-danger">Nenhum dado cadastrado</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card col col-12 col-sm-12 col-md-6 px-0">
            <div class="card-header">
                <h4 class="">Opções</h4>
            </div>
            <div class="card-body text-left">
                <button class="btn primary-color-app color-light-text hover-efect mx-2 my-2 full-w" data-bs-toggle="modal"
                    data-bs-target="#editar-colaborador">Editar dados</button><br>
                <a href="{% url 'usuario_administrador' colaborador.id %}"
                    class="btn primary-color-app color-light-text hover-efect mx-2 my-2 full-w">Administrador</a><br>
                <a href="{% url 'usuario_gerente' colaborador.perfil.id %}"
                    class="btn primary-color-app color-light-text hover-efect mx-2 my-2 full-w">Gerente de setor</a><br>
                <a href="{% url 'usuario_ativo' colaborador.id %}" class="btn primary-color-app color-light-text hover-efect mx-2 my-2 full-w">ativar
                    / inativar</a><br>
            </div>
        </div>
    </div>

</div>

{% include 'modais/modal-modificar-dados-usuario.html' %}

{% endblock %}