{% extends 'core/componentes/base-super.html' %}

{% block content %}

<div class="container bg-light card px-0 text-center">
    <div class="card-header px-0">
        <h1>Controle de dados</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="card col">
                <div class="card-body text-center px-0">
                    <h2>Forma de pagamento</h2>
                    <ul class="list-group">
                        {% if formasdepagamentos %}
                        {% for pagamento in formasdepagamentos %}
                        <li class="list-group-item">
                            <a>{{ pagamento.nome }}</a> - <a href="#">Deletar</a>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="card col">
                <div class="card-body text-center px-0">
                    <h2>Status</h2>
                    <ul class="list-group">
                        {% if status %}
                        {% for statu in status %}
                        <li class="list-group-item">
                            <a class="badge badge-success text-white">{{ statu.nome }}</a> - <a href="#">tornar
                                análise</a> - <a href="#">Deletar</a>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="card col-sm-12 px-0">
                <div class="card-footer d-flex justify-content-center">
                    <button class="btn btn-primary mx-1" data-toggle="modal"
                        data-target="#cadastrar-pagamento">cadastrar
                        pagamento</button>
                    <button class="btn btn-primary mx-1" data-toggle="modal" data-target="#cadastrar-status">cadastrar
                        status</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modais -->
<div class="modal fade" id="cadastrar-pagamento" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar setor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'forma_de_pagamento' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="form-input-motivo" class="col-form-label">Forma de pagamento:</label>
                        <input class="form-control" name="forma_de_pagamento" type="text"
                            placeholder="Digite a forma de pagamento"><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">cancelar</button>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cadastrar-status" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'cadastrar_status' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="form-input-motivo" class="col-form-label">Nome do status:</label>
                        <input class="form-control" name="nome_status" type="text"
                            placeholder="Digite o nome do status"><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">cancelar</button>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}