{% extends 'core/base-super.html' %}

{% block content %}

<div class="container bg-light card px-0 text-center">
    <div class="card-header px-0">
        <h1>Controle de setor</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="card col">
                <div class="card-body text-center">
                    <h2>Total de setores cadastrados</h2>
                    <h1>{{ setores.count }}</h1>
                </div>
            </div>

            <div class="card col">
                <div class="card-body text-center">
                    <h2>Total de colaboradores cadastrados</h2>
                    <h1>{{ colaboradores.count }}</h1>
                </div>
            </div>

            <div class="card col-sm-12 px-0">
                <div class="card-footer">
                    <div class="row px-0">
                        <div class="col px-0 d-flex justify-content-end">
                            <button class="btn btn-primary mx-1" data-toggle="modal" data-target="#cadastrar-setor">cadastrar
                                novo setor</button>
                        </div>
                        <div class="col px-0 d-flex justify-content-start">
                            <button class="btn btn-primary mx-1" data-toggle="modal"
                                data-target="#cadastrar-colaborador">Cadastrar colaborador</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bg-light mt-5 card px-0">
    <div class="card-header">
        <h3>Setores cadastrados</h3>
    </div>

    <div class="card-body px-0 py-0 limit-height">
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Mais</th>
                    </tr>
                </thead>
                <tbody>
                    {% if setores %}
                    {% for setor in setores %}
                    <tr>
                        <td scope="row">{{ setor.nome }}</td>
                        <td><a href="{% url 'administrador_setor_id' setor.id %}">Acessar setor</a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modais -->
<div class="modal fade" id="cadastrar-setor" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar setor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-cadastrar-setor" action="{% url 'cadastrar_setor' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="form-input-motivo" class="col-form-label">Nome do setor:</label>
                        <input class="form-control" name="nome_setor" type="text"
                            placeholder="Digite o nome do setor"><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">cancelar</button>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="cadastrar-colaborador" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar colaborador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-cadastrar-colaborador" action="{% url 'cadastrar_usuario' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3 mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">setor</label>
                        </div>
                        <select class="custom-select" name="setor" id="setor">
                            {% if setores %}
                            {% for setor in setores %}
                            <option value="{{ setor.id }}">{{setor.nome}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="nome" class="col-form-label">Nome (*):</label>
                        <input class="form-control" name="nome" id="nome" type="text">
                    </div>

                    <div class="form-group">
                        <label for="matricula" class="col-form-label">Matricula (*):</label>
                        <input class="form-control" name="matricula" id="matricula" type="text">
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-form-label">Email (*):</label>
                        <input class="form-control" name="email" id="email" type="text">
                    </div>

                    <div class="form-group">
                        <label for="senha" class="col-form-label">Senha (*):</label>
                        <input class="form-control" name="senha" id="senha" type="password">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btn-cadastrar-colaborador">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}