{% extends 'core/componentes/base-dashboard.html' %}

{% block content %}

<div class="container bg-light card px-0 text-center">
    <div class="card-header px-0">
        <h2>Controle de setor</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="card col col-12 col-sm-12 col-md-6">
                <div class="card-body text-center">
                    <h4>Total de setores cadastrados</h4>
                    <p class="lead">{{ setores.count }}</p>
                </div>
            </div>

            <div class="card col col-12 col-sm-12 col-md-6">
                <div class="card-body text-center">
                    <h4>Total de colaboradores cadastrados</h4>
                    <p class="lead">{{ colaboradores.count }}</p>
                </div>
            </div>

            <div class="card col-sm-12 px-0">
                <div class="card-footer">
                    <div class="row px-0">
                        <div class="col px-0 d-flex justify-content-center">
                            <button class="btn btn-primary mx-1" data-toggle="modal" data-target="#cadastrar-setor">cadastrar
                                novo setor</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bg-light mt-5 card px-0">
    <div class="card-header">
        <h3>Setores cadastrados</h3>
    </div>

    <div class="card-body px-0 py-0 limit-height">
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Mais</th>
                    </tr>
                </thead>
                <tbody>
                    {% if setores %}
                    {% for setor in setores %}
                    <tr>
                        <td scope="row">{{ setor.nome }}</td>
                        <td><a href="{% url 'administrador_setor_id' setor.id %}">Acessar setor</a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include 'core/componentes/modal-cadastrar-setor.html' %}

{% endblock %}