{% extends 'utils/base-dashboard.html' %}
{% load static %}

{% block content %}
<div class="bg-light card mx-3">
    <div class="card-body">
        
        {% if perfil_logado.perfil.gerente %}
        <button class="btn primary-color-app color-light-text hover-efect m-3 mt-1" type="button" data-bs-toggle="modal" data-bs-target="#gerar_relatorio_personalizado">Personalizar</button>
        {% endif %}
        
        
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Relatório</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% if perfil_logado.perfil.gerente == True %}
                <tr>
                    <td>Relatório de solicitações do meu setor</td>
                    <td><a href="{% url 'rel_solicitacoes_do_setor' %}">Gerar</a></td>  <!-- TODO: Consertar a url de geração desse arquivo -->
                </tr>
                {% endif %}
                <tr>
                    <td>Relatório de movimentacoes do perfil</td>
                    <td>
                        <a href="{% url 'rel_solicitacoes_do_perfil' %}">Gerar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% include 'modais/modal-relatorio-personalizado.html' %}
{% endblock %}
