<div class="card-header primary-color-dark-app color-light-text px-0">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link secondary-color-text" href="{% url 'dashboard' %}">Página inicial</a>
        </li>

        <li class="nav-item">
            <a class="nav-link secondary-color-text" href="{% url 'dashboard_solicitacoes' %}">Solicitações pendentes</a>
        </li>

        <li class="nav-item">
            <a class="nav-link secondary-color-text" href="{% url 'dashboard_baixas' %}">Baixas pendentes</a>
        </li>
    </ul>
</div>