{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Banco de horas - {% block title %}{% endblock %}</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'img/icon-user.png' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/colors.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="bg-color">

  {% block main %}
  <h1>Ooops página não encontrada -_-</h1>
  {% endblock %}

  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <!-- <script src="{% static 'js/script.js' %}"></script> -->
  <script>
    $(document).ready(function () {
      var endpoint = 'api/usuarios';

      {% block jquery %}
      {% endblock %}
    })
  </script>
</body>

</html>