<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastrar novo usuário</title>
</head>

<body>

    <!-- Verificação de erros -->
    <div>
        {% if form.errors %}
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert" arial-hiden="True">x</button>
            {{ form.non_field_errors }}
        </div>
        {% endif %}
    </div>

    <div>
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
    </div>


    <!-- Formulários para cadastro -->
    <div>
        <h1>Cadastrar setor</h1>
        <form action="{% url 'cadastrar_setor' %}" method="POST">{% csrf_token %}
            <label for="nome_setor">Nome do setor</label><br>
            <input name="nome_setor" type="text"><br>
            <button>Cadastrar</button>
        </form>
    </div>

    <div>
        <h1>Cadastrar usuario</h1>
        <form action="{% url 'cadastrar_usuario' %}" method="post">{% csrf_token %}
            <label for="nome">Nome completo</label><br>
            <input name="nome" type="text"><br>

            <label for="matricula">Matricula</label><br>
            <input name="matricula" type="text"><br>

            <label for="email">Email</label><br>
            <input name="email" type="text"><br>

            <label for="setor">Setor</label><br>
            <select name="setor" id="setor">
                {% if setores %}
                {% for setor in setores %}
                <option value="{{ setor.id }}">{{setor.nome}}</option>
                {% endfor %}
                {% endif %}
            </select><br>

            <label for="senha">Senha</label><br>
            <input name="senha" type="password"><br>

            <button type="submit">Cadastrar</button>
        </form>
    </div>

    <div>
        <h1>Cadastrar permissões</h1>
        <form action="{% url 'cadastrar_permissao' %}" method="POST">{% csrf_token %}
            <label for="">Nome permissão</label><br>
            <input type="text" name="nome_permissao">
            <button type="submit">Cadastrar</button>
        </form>
    </div>

    <div>
        <h1>Adicionar permissão ao usuário</h1>
        <form action="{% url 'vincular_permissao' %}" method="POST">{% csrf_token %}

            <label for="">Usuario</label>
            {% if perfis %}
            <select name="usuario_adicionar">
                {% for perfil in perfis %}
                <option value="{{ perfil.id }}">{{ perfil.usuario.username }} - {{ perfil.nome }}</option>
                {% endfor %}
            </select>
            {% endif %}
            <br>

            <label for="">Permissao</label>
            {% if permissoes %}
            <select name="permissao_adicionar">
                {% for permissao in permissoes %}
                <option value="{{ permissao.id }}">{{ permissao.nome }}</option>
                {% endfor %}
            </select>
            {% endif %}
            <br>

            <button type="submit">Adicionar</button>
        </form>
    </div>

    <div>
        <h1>Cadastrar status</h1>
        <form action="{% url 'cadastrar_status' %}" method="POST">{% csrf_token %}
            <label for="">Nome do status</label>
            <input type="text" name="nome_status">
            <button type="submit">Cadastrar</button>
        </form>
    </div>


    <div>
        <h1>Cadastrar forma de pagamento</h1>
        <form action="{% url 'forma_de_pagamento' %}" method="POST">{% csrf_token %}
            <label for="">Nome da forma de pagamento</label>
            <input type="text" name="forma_de_pagamento">
            <button type="submit">Cadastrar</button>
        </form>
    </div>

</body>

</html>