{% extends 'core/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block main %}
<main class="container-login">
    <div class="form-login">
        <img src="{% static 'img/icon-user.png' %}" width="100" alt="icone">
        <form method="POST" action="{% url 'login' %}">{% csrf_token %}
            <div class="form-group">
                <label for="login">Login</label>
                <input name="login" id="login" type="text" class="form-control" placeholder="Login de acesso">
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input name="senha" id="senha" type="text" class="form-control" placeholder="Senha">
            </div>
            <button type="submit" class="btn btn-dark full-w">Entrar</button>
        </form>
    </div>

    <div class="mt-2">
        {% if messages %}
        {% for message in messages %}
        <p class="alert alert-warning">{{ message }}</p>
        {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}