<div class="modal fade" id="cadastrar-pagamento" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar forma de pagamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'forma_de_pagamento' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="form-input-motivo" class="col-form-label">Forma de pagamento:</label>
                        <input class="form-control" name="forma_de_pagamento" type="text"
                            placeholder="Digite a forma de pagamento" required><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">cancelar</button>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>