<div class="modal fade" id="cadastrar-status" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'cadastrar_status' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="form-input-motivo" class="col-form-label">Nome do status:</label>
                        <input class="form-control" name="nome_status" type="text"
                            placeholder="Digite o nome do status" required minlength="2"><br>
                    </div>
                    <div class="form-group">
                        <div class="radio">
                            <label><input type="radio" name="status" value="no" checked>Não selecionado</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="status" value="analise">Análise</label>
                        </div>
                        <div class="radio disabled">
                            <label><input type="radio" name="status" value="autorizado">Autorizado</label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>