{% extends 'core/componentes/base-dashboard.html' %}
{% load static %}

{% block content %}
<div class="bg-light card">
    <div class="card-header bg-dark text-white text-center">
        <h3>Solicitacao número: {{ solicitacao.id }}</h3>
    </div>

    {% if solicitacao %}
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Propriedade</th>
                <th>Informação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Data solicitacao</td>
                <td>{{ solicitacao.data_cadastro }}</td>
            </tr>
            <tr>
                <td>Data referente</td>
                <td>{{ solicitacao.data_movimentacao }}</td>
            </tr>
            {% if solicitacao.hora_inicial %}
            <tr>
                <td>Hora inicial</td>
                <td>{{ solicitacao.hora_inicial }}</td>
            </tr>
            {% endif %}
            {% if solicitacao.hora_final %}
            <tr>
                <td>Hora final</td>
                <td>{{ solicitacao.hora_final }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Total de horas</td>
                <td>{{ solicitacao.hora_total }}</td>
            </tr>
            {% if solicitacao.motivo %}
            <tr>
                <td>Motivo</td>
                <td>{{ solicitacao.motivo }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Finalizado</td>
                <td>
                    {% if perfil_logado.is_superuser or perfil_logado.perfil.gerente %}
                        {% if solicitacao.finalizado == True %}
                        <span class="badge badge-danger">Solicitacao finalizada</span>
                        {% else %}
                        <a href="{% url 'solicitacoes_finalizar' solicitacao.id %}" class="badge badge-primary">Finalizar agora</a>
                        {% endif %}
                    {% else %}
                        {% if solicitacao.finalizado == True %}
                        <span class="badge badge-danger">Solicitacao finalizada</span>
                        {% else %}
                        <span class="badge badge-primary">Solicitação em aberto</span>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% if solicitacao.forma_de_pagamento %}
            <tr>
                <td>Pagamento</td>
                <td>{{ solicitacao.forma_de_pagamento.nome }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Status</td>
                <td>{{ solicitacao.status.nome }}</td>
            </tr>
            <tr>
                <td>Colaborador</td>
                <td>{{ solicitacao.colaborador.nome }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    <div class="card-footer">
        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-log">
            Mostrar log
        </button>
        {% if solicitacao.finalizado == False %}
        {% if perfil_logado.is_superuser or perfil_logado.perfil.gerente %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-modifica-log">
            Modificar solicitação
        </button>
        {% endif %}
        {% endif %}
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal-log" tabindex="-1" role="dialog" aria-labelledby="modal-log-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="font-size: 11pt;">
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="modal-log-title">Log</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-1">
                <ul class="list-group">
                    {% if solicitacao %}
                    {% for log in solicitacao.log_movimentacoes.all %}
                    <li class="list-group-item mb-1 shadow">
                        {{ log.perfil_emissor.nome }} - {{ log.data }} <br>
                        <hr>
                        {{ log.log }}
                    </li>
                    {% endfor %}
                    {% else %}
                    <li class="list-group-item mb-2 shadow"> Não há log para a solicitação atual! </li>
                    {% endif %}
                </ul>
            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-modifica-log" tabindex="-1" role="dialog" aria-labelledby="modal-modifica-log-title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="font-size: 11pt;">
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="modal-modifica-log-title">Log</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST"> {% csrf_token %}

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Status</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="id_status">
                            {% if status %}
                            {% for statu in status %}
                            <option value="{{ statu.id }}">{{ statu.nome }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descrição</span>
                        </div>
                        <textarea class="form-control" name="descricao" placeholder="Descreva o motivo da alteração"></textarea>
                    </div>

                    <input type="text" value="{{ solicitacao.id }}" style="display: none;" name="id_movimentacao">

                    <div class="modal-footer bg-light">
                        <button type="submit" class="btn btn-success">Salvar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}