{% extends 'utils/base-dashboard.html' %}
{% load static %}

{% block content %}
<div class="bg-light card">
    {% include 'utils/barra-menu-dashboard.html' %}

    <div class="card-body">
        <p class="lead text-center"> Painel de gestão </p>

        <div class="card full-w d-none d-sm-block">
            <div class="card-body">
                <canvas id="general-vision" width="100%" height="30"></canvas>
            </div>
        </div>

        <div class="row">
            <section class="card col my-3 mx-3 px-0 auto-h">
                <div class="card-header primary-color-dark-app color-light-text">
                    <h5 class="text-center">Colaboradores do meu setor</h5>
                </div>
                <div class="card-body px-0 py-0">
                    <ul class="list-group list-group-flush full-w">
                        {% if colaboradores_do_setor %}
                        {% for colaborador in colaboradores_do_setor %}
                        <li class="list-group-item list-group-item-action">
                            <div class="list-item-colaborador">
                                <img src="{% static 'img/icon-user.png' %}" width="50" alt="Colaborador">
                                <p class="px-2" style="margin-top: auto;"><a href="{% url 'listar_solicitacoes' colaborador.usuario.username %}">{{ colaborador.nome }}</a></p>
                            </div>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>

<script>

function chart() {
  var ctx = document.getElementById('general-vision').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
      {% if dados_grafico %}
        {% for colaborador in dados_grafico %}
          '{{ colaborador.nome }}',
        {% endfor %}
      {% endif %}
      ],
      datasets: [{
        label: 'Total de horas disponíveis',
        data: [
          {% if dados_grafico %}
              {% for colaborador in dados_grafico %}
                  {{ colaborador.total_horas }},
              {% endfor %}
          {% endif %}
        ],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
};

addEventListener('load', chart);

</script>

{% endblock %}