{% extends 'core/componentes/base.html' %}
{% load static %}

{% block main %}
<main class="opcao-de-escolha">
    <a href="{% url 'administrador' %}" class="mx-2 my-2" style="width: 230px;">
        <div class="opcao card">
            <div class="card-body">
                <img src="{% static '/img/adm-super.png' %}" alt="icone usuario super">
            </div>
            <div class="card-header bg-dark text-white text-center">
                <h3>Administrador</h3>
            </div>
        </div>
    </a>

    <a href="{% url 'dashboard' %}" class="mx-2 my-2" style="width: 230px;">
        <div class="opcao card">
            <div class="card-body">
                <img src="{% static '/img/adm-dashboard.png' %}" alt="icone usuario dashboard">
            </div>
            <div class="card-header bg-dark text-white text-center">
                <h3>Colaborador</h3>
            </div>
        </div>
    </a>
</main>
{% endblock %}