<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Titulo</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilo.css">
</head>

<body>

    <main class="opcao-de-escolha">
        <a href="#" class="mx-2 my-2">
            <div class="opcao card">
                <div class="card-body">
                    <img src="../img/adm-super.png" alt="icone usuario super">
                </div>
                <div class="card-header bg-dark text-white text-center">
                    <h3>Super</h3>
                </div>
            </div>
        </a>

        <a href="dashboard.html" class="mx-2 my-2">
            <div class="opcao card">
                <div class="card-body">
                    <img src="../img/adm-dashboard.png" alt="icone usuario dashboard">
                </div>
                <div class="card-header bg-dark text-white text-center">
                    <h3>Administrador</h3>
                </div>
            </div>
        </a>

        <a href="usuario.html" class="mx-2 my-2">
            <div class="opcao card">
                <div class="card-body">
                    <img src="../img/adm-colaborador.png" alt="icone usuario colaborador">
                </div>
                <div class="card-header bg-dark text-white text-center">
                    <h3>Colaborador</h3>
                </div>
            </div>
        </a>
    </main>

    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/Chart.min.js"></script>
    <script src="../js/script.js"></script>
</body>

</html>