<div class="modal fade" id="modal-modifica-log" tabindex="-1" role="dialog" aria-labelledby="modal-modifica-log-title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="font-size: 11pt;">
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="modal-modifica-log-title">Log</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST"> {% csrf_token %}

                    <div class="form-floating">
                        <select class="form-select" id="status" name="id_status" aria-label="Status da solicitação">
                            {% if status %}
                            {% for statu in status %}
                            <option value="{{ statu.id }}">{{ statu.nome }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                        <label for="status">Status</label>
                    </div>

                    {% if solicitacao.entrada == False %}
                    <div class="form-floating">
                        <select class="form-select" id="pagamento" name="id_pagamento" aria-label="Forma de pagamento">
                            {% if forma_de_pagamento %}
                            {% for pagamento in forma_de_pagamento %}
                            <option value="{{ pagamento.id }}">{{ pagamento.nome }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                        <label for="pagamento">Pagamento</label>
                    </div>
                    {% endif %}

                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Descreva o motivo da alteração" name="descricao"
                            id="descricao" style="height: 100px"></textarea>
                        <label for="descricao">Descrição</label>
                    </div>

                    <input type="text" value="{{ solicitacao.id }}" style="display: none;" name="id_movimentacao">

                    <div class="modal-footer bg-light">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>