{% extends 'core/componentes/base-dashboard.html' %}
{% load static %}

{% block content %}

<div class="container bg-light mt-0 card px-0">
    <div class="card-header px-0">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'solicitacoes' %}">Página inicial</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'solicitacoes_banco_de_horas' %}">Solicitações</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'solicitacoes_baixas' %}">Folgas</a>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <div class="card col">
                <div class="card-body px-0">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                                <tr>
                                    <th>BANCO DE HORAS</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                        <tbody>
                            <tr>
                                <td>Horas em análise</td>
                                <td>{{ horas_solicitadas }}</td>
                            </tr>
                            <tr>
                                <td>Horas autorizadas</td>
                                <td>{{ horas_autorizadas }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card col">
                <div class="card-body px-0">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>FOLGAS</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Horas em análise</td>
                                <td>{{ baixas_solicitadas }}</td>
                            </tr>
                            <tr>
                                <td>Horas autorizadas</td>
                                <td>{{ baixas_autorizadas }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer col col-sm-12">
                Total de horas disponíveis: {{ horas_disponiveis }}
            </div>

            <div class="card col-sm-12 px-0">
                <div class="card-footer">
                    <div class="row">
                        <div class="col d-flex flex-row-reverse px-0">
                            <button class="btn btn-primary mx-1" data-toggle="modal"
                                data-target="#cadastrar-banco-de-horas">cadastrar banco de horas</button>
                        </div>
                        <div class="col px-0">
                            <button class="btn btn-primary mx-1" data-toggle="modal" data-target="#solicitar-folga">Solicitar
                                nova folga</button>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Inicio de bloco -->
{% block content-usuario %}
{% endblock %}

<!-- Modais -->
<div class="modal fade" id="cadastrar-banco-de-horas" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar banco de horas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'solicitacoes_banco_de_horas' %}">{% csrf_token %}
                    <div class="form-group">
                        <label for="form-input-data-cadastro" class="col-form-label">Data do evento:</label>
                        <input name="data" type="date" class="form-control" id="form-input-data-cadastro">
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="form-input-hora-inicial" class="col-form-label">Hora inicial:</label>
                                <input name="hora_inicial" type="time" class="form-control"
                                    id="form-input-hora-inicial">
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="form-input-hora-final" class="col-form-label">Hora final:</label>
                                <input name="hora_final" type="time" class="form-control" id="form-input-hora-final">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="form-input-motivo" class="col-form-label">motivo:</label>
                        <textarea name="motivo" id="form-input-motivo" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="solicitar-folga" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Solicitar nova folga</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'solicitacoes_baixas' %}">{% csrf_token %}
                    <div class="form-group">
                        <label for="form-input-data-cadastro" class="col-form-label">Data da folga:</label>
                        <input name="data_folga" type="date" class="form-control" id="form-input-data-cadastro">
                    </div>

                    <div class="form-group">
                        <label for="form-input-data-cadastro" class="col-form-label">Total de horas:</label>
                        <input name="horas_total" type="number" min="1" max="8" class="form-control"
                            id="form-input-data-cadastro">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}