{% extends 'core/componentes/base.html' %}
{% load static %}

{% block title %}Painel de controle{% endblock %}

{% block main %}

<main class="container-index">

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <!-- <img src="img/icon-user.png" width="75" alt="logo da página"> -->
            {{ perfil_logado.perfil.nome }}
        </a>
        <button class="navbar-toggler d-block d-sm-none d-none d-sm-block d-md-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="list-group">
                {% if perfil_logado.is_superuser %}
                <a href="{% url 'setor' %}"
                    class="list-group-item list-group-item-action list-group-item-light">Controle de setor</a>
                <a href="{% url 'administrador_extra' %}"
                    class="list-group-item list-group-item-action list-group-item-light">Dados gerenciais</a>
                {% endif %}
                {% if perfil_logado.perfil.gerente %}
                <a href="{% url 'dashboard' %}"
                    class="list-group-item list-group-item-action list-group-item-light">Painel de controle</a>
                {% endif %}
                <a href="{% url 'solicitacoes' %}"
                    class="list-group-item list-group-item-action list-group-item-light">Minhas solicitações</a>
                <a href="{% url 'relatorio' %}"
                    class="list-group-item list-group-item-action list-group-item-light">Relatórios</a>
                <a href="{% url 'logout' %}"
                    class="list-group-item list-group-item-action list-group-item-light">Encerrar sessão</a>
            </ul>
        </div>
    </nav>

    <div class="row full-w" style="max-width: 100%;">
        <div class="col col-md-3 bg-light px-0 sticky-top d-none d-md-block" style="height: 100vh;">
            <ul class="list-group">
                {% if perfil_logado.is_superuser %}
                <a href="{% url 'setor' %}"
                    class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center">
                    <i class="material-icons mx-2">group_work</i>
                    Controle de setor
                    </a>
                <a href="{% url 'administrador_extra' %}"
                    class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center">
                    <i class="material-icons mx-2">settings_applications</i>
                    Dados gerenciais
                    </a>
                {% endif %}
                {% if perfil_logado.perfil.gerente %}
                <a href="{% url 'dashboard' %}"
                    class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center">
                    <i class="material-icons mx-2">dashboard</i>
                    Painel de controle
                    </a>
                {% endif %}
                <a href="{% url 'solicitacoes' %}"
                    class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center">
                    <i class="material-icons mx-2">compare_arrows</i>
                    Minhas solicitações
                    </a>
                <a href="{% url 'relatorio' %}"
                    class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center">
                    <i class="material-icons mx-2">pie_chart</i>
                    Relatórios
                    </a>
                <a href="{% url 'logout' %}"
                    class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center">
                    <i class="material-icons mx-2">exit_to_app</i>
                    Encerrar sessão
                    </a>
            </ul>
        </div>

        <div class="col col-md-9 pl-4 pr-0 py-3">
            {% if messages %}
            <div class="full-w mt-3 mb-0">
                {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show full-w" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                {% endfor  %}
            </div>
            {% endif %}

            <div class="bg-transparent">
                {% block content %}
                <h1>Nada a ser visualizado</h1>
                {% endblock %}
            </div>
        </div>
    </div>

</main>

{% endblock %}