{% extends 'core/componentes/base.html' %}
{% load static %}

{% block title %}Painel de controle{% endblock %}

{% block main %}

<main class="container-index">

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <!-- <img src="img/icon-user.png" width="75" alt="logo da página"> -->
            {{ perfil_logado.perfil.nome }}
        </a>
    </nav>

    <div class="row" style="max-width: 100%;">
        <div class="col col-md-3 bg-light px-0 sticky-top" style="height: 100vh;">
            <ul class="list-group">
                {% if perfil_logado.is_superuser %}
                <a href="{% url 'administrador_setor' %}"
                    class="list-group-item list-group-item-action list-group-item-light">Controle de setor</a>
                <a href="{% url 'administrador_extra' %}"
                    class="list-group-item list-group-item-action list-group-item-light">Dados para cadastro</a>
                {% endif %}
                {% if perfil_logado.perfil.gerente %}
                <a href="{% url 'dashboard' %}"
                    class="list-group-item list-group-item-action list-group-item-light">Painel de controle</a>
                {% endif %}
                <a href="{% url 'solicitacoes' %}"
                    class="list-group-item list-group-item-action list-group-item-light">Minhas solicitações</a>
                <a href="{% url 'logout' %}"
                    class="list-group-item list-group-item-action list-group-item-light">Encerrar sessão</a>
            </ul>
        </div>

        <div class="col col-md-9 mb-3 px-5" style="margin-left: auto;">

            {% if messages %}
            <div class="full-w mt-3 mb-0">
                {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show full-w" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span
                            aria-hidden="true">&times;</span> </button>
                </div>
                {% endfor  %}
            </div>
            {% endif %}

            <div class="container bg-transparent mt-3 px-0 ">
                {% block content %}
                <h1>Nada a ser visualizado</h1>
                {% endblock %}
            </div>
        </div>
    </div>

</main>

{% endblock %}