{% extends 'core/base-dashboard.html' %}
{% load static %}

{% block content %}

<div class="container bg-light mt-0 card px-0">
    <div class="card-header px-0">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'solicitacoes' %}">Página inicial</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'solicitacoes_banco_de_horas' %}">Solicitações</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'solicitacoes_baixas' %}">Folgas</a>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <div class="card col">
                <div class="card-body">
                    <canvas id="general-vision" width="100%" height="60px"></canvas>
                </div>
            </div>

            <div class="card col">
                <div class="card-body">
                    <canvas id="chart-colaborador-extras-cadastrados" width="100%" height="50px"></canvas>
                </div>
            </div>

            <div class="card col-sm-12 px-0">
                <div class="card-footer d-flex justify-content-center">
                    <button class="btn btn-primary mx-1" data-toggle="modal"
                        data-target="#cadastrar-banco-de-horas">cadastrar banco de horas</button>
                    <button class="btn btn-primary mx-1" data-toggle="modal" data-target="#solicitar-folga">Solicitar
                        nova folga</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% if bancospendentes %}
<div class="container bg-light mt-5 card px-0">
    <div class="card-header">
        <h3>Banco de horas / em análise</h3>
    </div>

    <div class="card-body px-0 py-0 limit-height">
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Hora inicial</th>
                        <th scope="col">Hora final</th>
                        <th scope="col">Total</th>
                        <th scope="col">motivo</th>
                        <th scope="col">status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for banco in bancospendentes %}
                    <tr>
                        <th scope="row">{{ banco.data_movimentacao }}</th>
                        <td>{{ banco.hora_inicial }}</td>
                        <td>{{ banco.hora_final }}</td>
                        <td>{{ banco.hora_total }}</td>
                        <td>{{ banco.motivo }}</td>
                        <td class="text-warning">{{ banco.status.nome }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% if baixaspendentes %}
<div class="container bg-light mt-5 card px-0">
    <div class="card-header">
        <h3>Solicitação de folga / em análise</h3>
    </div>

    <div class="card-body px-0 py-0 limit-height">
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Data da solicitação</th>
                        <th scope="col">Data da folga</th>
                        <th scope="col">total de horas</th>
                        <th scope="col">status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for baixa in baixaspendentes %}
                    <tr>
                        <th scope="row">{{ baixa.data_cadastro }}</th>
                        <th scope="row">{{ baixa.data_movimentacao }}</th>
                        <td>00:26</td>
                        <td class="text-warning">{{ baixa.status.nome }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}




<!-- Modais -->
<div class="modal fade" id="cadastrar-banco-de-horas" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar banco de horas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'solicitacoes_banco_de_horas' %}">{% csrf_token %}
                    <div class="form-group">
                        <label for="form-input-data-cadastro" class="col-form-label">Data do evento:</label>
                        <input name="data" type="date" class="form-control" id="form-input-data-cadastro">
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="form-input-hora-inicial" class="col-form-label">Hora inicial:</label>
                                <input name="hora_inicial" type="time" class="form-control"
                                    id="form-input-hora-inicial">
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="form-input-hora-final" class="col-form-label">Hora final:</label>
                                <input name="hora_final" type="time" class="form-control" id="form-input-hora-final">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="form-input-motivo" class="col-form-label">motivo:</label>
                        <textarea name="motivo" id="form-input-motivo" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="solicitar-folga" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Solicitar nova folga</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'solicitacoes_baixas' %}">{% csrf_token %}
                    <div class="form-group">
                        <label for="form-input-data-cadastro" class="col-form-label">Data da folga:</label>
                        <input name="data_folga" type="date" class="form-control" id="form-input-data-cadastro">
                    </div>

                    <div class="form-group">
                        <label for="form-input-data-cadastro" class="col-form-label">Total de horas:</label>
                        <input name="horas_total" type="number" min="1" max="8" class="form-control" id="form-input-data-cadastro">
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}