{% extends 'utils/base-dashboard.html' %}
{% load static %}

{% block content %}
<div class="bg-light card">
    <div class="card-header primary-color-dark-app color-light-text text-center">
        <h5>Solicitacao número: {{ solicitacao.id }}</h5>
    </div>

    {% if solicitacao %}
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Propriedade</th>
                <th>Informação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Data solicitacao</td>
                <td>{{ solicitacao.data_cadastro }}</td>
            </tr>
            <tr>
                <td>Data referente</td>
                <td>{{ solicitacao.data_movimentacao }}</td>
            </tr>
            {% if solicitacao.hora_inicial %}
            <tr>
                <td>Hora inicial</td>
                <td>{{ solicitacao.hora_inicial }}</td>
            </tr>
            {% endif %}
            {% if solicitacao.hora_final %}
            <tr>
                <td>Hora final</td>
                <td>{{ solicitacao.hora_final }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Total de horas</td>
                <td>{{ solicitacao.hora_total }}</td>
            </tr>
            {% if solicitacao.motivo %}
            <tr>
                <td>Motivo</td>
                <td>{{ solicitacao.motivo }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Finalizado</td>
                <td>
                    {% if perfil_logado.is_superuser or perfil_logado.perfil.gerente %}
                        {% if solicitacao.finalizado == True %}
                        <a class="badge bg-danger" data-bs-toggle="modal" data-bs-target="#modal-modifica-log">Reabrir solicitação</a>
                        {% else %}
                        <a href="{% url 'solicitacoes_finalizar' solicitacao.id %}" class="badge primary-color-app color-light-text hover-efect">Finalizar agora</a>
                        {% endif %}
                    {% else %}
                        {% if solicitacao.finalizado == True %}
                        <span class="badge bg-danger">Solicitacao finalizada</span>
                        {% else %}
                        <span class="badge primary-color-app color-light-text hover-efect">Solicitação em aberto</span>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% if solicitacao.forma_de_pagamento %}
            <tr>
                <td>Pagamento</td>
                <td>{{ solicitacao.forma_de_pagamento.nome }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Status</td>
                <td>{{ solicitacao.status.nome }}</td>
            </tr>
            <tr>
                <td>Colaborador</td>
                <td>{{ solicitacao.colaborador.nome }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    <div class="card-footer">
        <button class="btn primary-color-app color-light-text hover-efect" data-bs-toggle="modal" data-bs-target="#modal-log">
            Mostrar log
        </button>
        {% if perfil_logado.is_superuser or perfil_logado.perfil.gerente %}
        <button class="btn primary-color-app color-light-text hover-efect" data-bs-toggle="modal" data-bs-target="#modal-modifica-log">
            Modificar solicitação
        </button>
        {% endif %}
    </div>
</div>

{% include 'modais/modal-mostrar-log.html' %}
{% include 'modais/modal-modificar-movimentacao.html' %}


{% endblock %}
    