{% extends 'utils/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block main %}
<a href="/admin" class="configure-button btn">
    <span class="material-icons text-info">
        settings
    </span>
</a>

<main class="container-login">
    <div class="form-login color-light-app">
        <img src="{% static 'img/icon-user.png' %}" width="100" alt="icone">
        <form method="POST" action="{% url 'login' %}">{% csrf_token %}
            <div class="form-floating mb-3">
                <input name="login" id="login" type="text" class="form-control" placeholder="Login de acesso">
                <label for="login">Login</label>
            </div>
            <div class="form-floating mb-3">
                <input name="senha" id="senha" type="password" class="form-control" placeholder="Senha">
                <label for="senha">Senha</label>
            </div>
            <button type="submit" class="btn primary-color-app color-light-text full-w">Entrar</button>
        </form>
    </div>

    <div class="mt-2">
        {% if messages %}
        {% for message in messages %}
        <p class="alert alert-warning">{{ message }}</p>
        {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}