<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>

    <div>
        <h1>Banco de horas</h1>

        <h2>Cadastrar banco de horas</h2>
        <form action="{% url 'banco_de_horas' %}" method="POST">{% csrf_token %}
            <label for="">Data</label>
            <input type="date" name="data_banco"><br>

            <label for="">Hora inicial</label>
            <input type="time" name="hora_inicial_banco"><br>

            <label for="">Hora final</label>
            <input type="time" name="hora_final_banco"><br>

            <label for="">motivo</label>
            <input type="text" name="motivo_banco"><br>

            <button type="submit">Solicitar</button>
        </form>

        <h2>Banco de horas solicitados</h2>

        <table border="1px">
            <thead>
                <tr>
                    <td>Data</td>
                    <td>hora inicial</td>
                    <td>hora final</td>
                    <td>total de horas</td>
                    <td>motivo</td>
                    <td>status</td>
                    <td>colaborador</td>
                    <td>log</td>
                </tr>
            </thead>

            <tbody>
                {% if bancos_solicitados %}
                {% for banco in bancos_solicitados %}
                <tr>
                    <td>{{ banco.data }}</td>
                    <td>{{ banco.hora_inicial }}</td>
                    <td>{{ banco.hora_final }}</td>
                    <td>36 min</td>
                    <td>{{ banco.motivo }}</td>
                    <td>{{ banco.status.nome }}</td>
                    <td>{{ banco.colaborador.nome }}</td>
                    <td><a href="#">Ver log</a></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </div>


    
</body>
</html>